*{
	font-family: $raleway, 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: $font-weight-light;
}

.monospace{
	font-family: monospace, 'Lucida Console', 'Courier New', $raleway, sans-serif;
}

.height100, html, body, .container-fluid{
	height: 100%
}

.height85{
	height: 85%;
}

div.noPadding{
	padding: 0;
}

.height10{
	height: 10%
}
.height5{
	height: 5%
}

.vertical-align-wrap {
	position: absolute;
	width: 100%;
	display: table;
}

.vertical-align {
	display: table-cell;
}

.vertical-align--middle {
  	vertical-align: middle;
}

*, *:before, *:after {
	        box-sizing: border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

