*, *:before, *:after {
	font-family: $raleway, 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: $font-weight-light;
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	        box-sizing: border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.monospace{
	font-family: monospace, 'Lucida Console', 'Courier New', $raleway, sans-serif;
}
