<!-- <div class="height10">
	<div class="switch-field switch-field-2">
		<input type="radio" id="treemap" name="mode" value="treemap" checked/>
		<label for="treemap">Treemap</label>
		<input type="radio" id="table" name="mode" value="table" />
		<label for="table">Table</label>
	</div>
</div> -->
<div class="contrl">
	<div class="switch-field switch-field-2">
		<input type="radio" id="treemap" name="mode" value="treemap" checked/>
		<label for="treemap">Treemap</label>
		<input type="radio" id="table" name="mode" value="table" />
		<label for="table">Table</label>
	</div>
</div>

<treemap data-ng-if="treemapCtrl.data" class="widget" data="treemapCtrl.data"></treemap>

