html,body{
	height: 100% !important;
	margin: 0;
	padding: 0;
	@include scrollbars(1px, darken($body-bg, 15%));
}

.container {
	min-height: 100%;
	@include flexbox;
	@include flex-dir(column);
	> header {
		@include flexbox;
		@include flex-dir(column);
		@include flex(1.5, 0, 0);
		@include flex-just(center);
	}
	> article {
		@include flexbox;
		@include flex(15, 0, 0);
		@include flex-dir(column);
		@include flex-just(flex-start);
		overflow: auto;
		background-color: $body-bg;
		div.search{
			@include flexbox;
			@include flex-dir(column);
			@include flex-just(center);
			min-height:52px;
			@media (max-width: 992px) {
				@include flex(1, 0, 100%);
			}
			input{
				margin: 15px 15px 0px 15px;
				font-size: .9em;
				background-color: darken($body-bg,5%);
				border: none;
				outline: none;
				padding: 15px;
				border-radius: 5px;
				color: white;
			}
		}
		div.box{
			min-height: min-content;
			div.widgetList{
				margin: 0px 15px 15px 0px;
				@include flexbox;
				@include flex-dir(row);
				@include flex-just(center);
				@include flex-wrap(wrap);
				> div{
					@include flex(1, 0, 33%);
					@media (max-width: 992px) {
						@include flex(1, 0, 100%);
					}
					a{
						text-align: center;
						text-decoration: none !important;
						&:hover, &:active, &:focus{
							text-decoration: none !important;
						}
						div.itemWrapper{
							margin-top: 15px;
							margin-left: 15px;
							background-color: lighten($body-bg,5%);
							border-radius: 5px;
							padding: 15px;
							div{
								font-size: 1.3em;
								text-transform: uppercase;
								padding: 5px;
								color: $link-color;
							}

							em div{
								font-size: 1em;
								text-transform: lowercase;
								color: lighten($body-bg, 70%);
							}
						}
					}
				}
			}
		}
	}
	> footer {
		@include flexbox;
		@include flex-dir(column);
		@include flex-just(center);
		@include flex-wrap(wrap);
		@include flex(0.5, 0, 0);
		@include align-items(center);
		@media (max-width: 992px) {
			box-shadow: 0px -1px 15px 0px #161319;
			-webkitbox-shadow: 0px -1px 15px 0px #161319;
		}
	}
}
