$color_checkbox_success:#39caa3;
$color_checkbox_default:#7b7b7b;
$transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 6em;
$height: $width/2;

label.toggle{
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    // font-size: 14px;
    .toggle-control{
        transition: $transition;
        width: $width;
        height: $height;
        display: block;
        border: 2px solid darken($color_checkbox_default, 25%);
        border-radius: 5px;
        background-color: $color_checkbox_default;
        position: relative;
        &:hover{
            cursor: pointer
        }
        &:before{
            // TEXT STYLE : FALSE
            content: attr(data-status);
            position: absolute;
            top: 0;
            right: 3px;
            line-height: $height;
        }
        &:after{
            transition: $transition;
            content: "";
            width: $width/2.2;
            height: $height/1.10;
            display: block;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 2px rgba(black, .4),0 3px 2px rgba(black,.4);
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }

    input{
        display: none;
        &:checked + .toggle-control{
            border-color: darken($color_checkbox_success, 25%);
            background-color: $color_checkbox_success;
            &:before{
                // TEXT STYLE : TRUE
                left: 5px;
            }
            &:after{
                left: $width/2;
            }
        }
    }

}