div.widgetMenu{
	position: absolute;
	top: 25px;
	color: black;
	width: 100%;
	text-align: center;
	z-index: 1000;
	select{
		border-radius:0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: auto;
		padding: 5px 10px 5px 10px;
		background-color: lighten($body-bg, 10%);
		color: $gray-lighter;
		cursor: pointer;
		&:focus, &:active{
			outline: none;
			box-shadow: none;
		}
	}
}

.widget{
	display: block;
	height: 100%;
	width: 100%;

	g.y.axis line{
		stroke-dasharray: 3,3;
		opacity: 0.3;
	}

	g.axis{
		line, path{
			stroke: lighten($gray-light, 20%);
		}
		text{
			fill: lighten($gray-light, 20%);
		}
	}

	g.axis.x.justText path{
		stroke: transparent;
	}

	g.axis.x.noText{
		stroke-dasharray: 3,3;
		text{
			fill: none;
		}
	}

	text.textValue{
		content: '%'
	}

	.brush{
		.selection{
			fill-opacity: 0.1;
		}
	}
}
