div.dropdown{
	margin: 0 auto;
	width: 250px;
	background-color: darken($body-bg, 5%) !important;
	position: absoulte;
	color: darkgrey;
	ul.list{
		font-size: 18px;
		position: relative;
		list-style: none;
		padding: 0px 0px 0px 0px;
		margin: 0;
		ul.list{
			border-left: 1px solid #503b65;
			padding-left: 10px;
			margin: 2px 0px 2px 5px;
		}
		li.item{
			white-space: nowrap;
			padding: 0px 0px;

			// background-color:hotpink;
			// width: 10px;
			// height: 10px;
			overflow: hidden;
			&.selected{
				color: white;
				background-color: #100d13;
			}
			&:hover{
				cursor: pointer;
				background-color: darken($body-bg, 2%) !important;
			}
		}
		// span{
		// 	&:hover{
		// 		cursor: pointer;
		// 		background-color: darken($body-bg, 2%) !important;
		// 	}
		// }
		// span.it{
		// 	padding-left: 5px;
		// 	display: inline-block;
		// 	width: 80%;
  //   		&.selected{
		// 		color: white;
		// 		background-color: #100d13;
		// 	}
		// 	&.sin{
		// 		width: 100%;
		// 	}
		// }
		span.selectAll{
			position: absolute;
			right: 3px;
		}
		// span.expand{
		// 	display: inline-block;
		// 	width: 10%;
		// 	text-align: center;
		// }
	}
}
