.widget{
 	@include flexbox;
 	@include flex-dir(column);
 	@include flex(10, 0, 0);

	g.y.axis.dashed line{
		stroke-dasharray: 3,3;
		opacity: 0.3;
	}

	g.axis{
		line, path{
			stroke: lighten($gray-light, 20%);
		}
		text{
			fill: lighten($gray-light, 20%);
		}
	}

	g.axis.x.justText path{
		stroke: transparent;
	}

	g.axis.x.noText{
		stroke-width: .5px;
		text{
			fill: none;
		}
	}
}
